<div class="container">
    <h1 class="page-header">Weather in Vancouver <img src=<%= locals.img %>  alt="Weather icon" width="100" height="100"></h1>
    
    <ul class="list-group">
        <li class="list-group-item">
        <h3>The current temperature in Vancouver is <%= data.main.temp %> degrees Celsius. <br>
        It feels like <%= data.main.feels_like %> degrees Celsius out.</h3>
        </li>
        <li class="list-group-item">
            <h3>The current weather in Vancouver is <%= data.weather.main %>.</h3>
            
        </li>
        <li class="list-group-item">
            <h3>The current wind speed in Vancouver is <%= data.wind.speed %> kilometres per hour.</h3>
        </li>
    </ul>
</div>